<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Demo App - Transform Encode</title>
  </head>
  <body>
    </br/>
    <div class="container">
            <h1>Transform Encode</h1>
            <br/>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.string.label }}
                {{ form.string() }}
                <br/>
                {{ form.creditcard.label }}
                {{ form.creditcard() }}

            </br>
            {{ form.submit() }}
            </form>

          </br></br></br>
          <table class="table table-hover table-bordered table-striped">
            <h3>Encoded Values</h3>
            <tr>
              <th id="string">String</th>
              <th id="encoded_cc">Encoded CreditCard - Transform</th>
            </tr>
          {% for encoded_value in encoded_values %}
            <tr>
              <td headers="string">{{ encoded_value.string }}</td>
              <td headers="encoded_cc">{{ encoded_value.creditcard }}</td>
            </tr>
          {% endfor %}
          </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


